/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ec322d;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Configuração para Desktops  - Início*/

/* primeira pagina  - Início*/

.containerPg1 {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.your-quizz {
    margin-top: 77px;
    width: 1051px;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;
    margin-bottom: 27px;
}

.textW {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
    width: 250px;
    height: 70px;
}

.create-quizz {
    width: 151px;
    height: 40px;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #EC362D;
    border: 1px dashed #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.your-quizzes {
    margin-top: 70px;
    width: 1051px;
}

.all-quizzes {
    margin-top: 50px;
    width: 1051px;
}

.title-all-quizzes {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.quizz-list {
    display: flex;
    flex-wrap: wrap;
    width: 1066px;
}

.quizz-list-api {
    display: flex;
    flex-wrap: wrap;
    width: 1066px;
}

.img-quizz {
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    border-radius: 5px;
    margin-right: 15px;
}

.title-quizz {
    width: 300px;
    height: 54px;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
    margin-left: 18px;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.containertitle {
    display: flex;
    align-items: center;
    position: relative;

}

.firstionicon {
    color: #EC362D;
    font-size: 31px;
    cursor: pointer;
    margin-left: 139px;
    margin-bottom: 10px;
    position: absolute;
}

.none {
    display: none;
}

/* primeira pagina  - fim*/


.quiz-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    transition: 0.6s ease-in-out;
}

.selected-quiz {
    margin-top: 70px;
    width: 100%;
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-quiz span {
    z-index: 2;
    top: 45%;
    left: 35%;
    color: #ffffff;
    font-size: 40px;
}

.question-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 630px;
    margin-top: 42px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.question-container h2,
.final-screen-container h2 {
    width: 90%;
    height: 132px;
    display: flex;
    background-color: #434cad;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.question-container ul {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.question-container li {
    display: flex;
    flex-direction: column;
    width: 330px;
    max-height: 200px;
    margin-bottom: 18px;
}

.question-container img {
    height: 175px; 
}

.question-container span {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.final-screen-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 450px;
    margin-top: 42px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.final-screen-container div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.final-screen-container h2 {
    height: 100px;
    background-color: #ec362d;
}

.final-screen-container img {
    width: 340px;
    max-height: 270px;
}

.final-screen-container p {
    width: 310px;
    max-height: 250px;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 25px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.redo-quiz,
.return-btn {
    width: 260px;
    height: 50px;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 15px;
    margin-bottom: 18px;
}

.redo-quiz {
    background-color: #ec362d;
    color: #ffffff;
}

.return-btn {
    width: 200px;
    background-color: transparent;
    color: #818181;
}

.redo-quiz:hover {
    background-color: #fafafa;
    color: #ec362d;
    border: 2px solid #ec362d;
    cursor: pointer;
}

.return-btn:hover {
    color: #000000;
    cursor: pointer;
}

.not-selected {
    opacity: 0.3;
    pointer-events: none;
}

.wrong.not-selected span,
.wrong.selected span {
    color: #ff4b4b
}

.right.selected span,
.right.not-selected span {
    color: #009c22;
}

.hidden {
    display: none;
    opacity: 0;
}

/* Configuração para Desktops  - Fim*/

/* Reponsividade - Início */

/* responsivedade da primeira pagina - inicio*/

@media (max-width: 1065px) {

    .your-quizz {
        width: 92%;
    }

    .all-quizzes {
        width: 92%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .quizz-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .quizz-list-api {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .img-quizz {
        margin-right: 18px;
    }
}

/* responsivedade da primeira pagina - fim*/

@media (max-width: 700px) {

    .selected-quiz {
        height: 140px;
    }

    .selected-quiz span {
        font-size: 28px;
    }

    .question-container {
        width: 375px;
        height: 390px;
        margin-top: 26px;
    }

    .question-container h2 {
        width: 92%;
        height: 89px;
        margin-bottom: 14px;
        font-size: 19px;
        text-align: center;
    }

    .question-container ul {
        width: 92%;
    }

    .question-container li {
        width: 164px;
        max-height: 132px;
        margin-bottom: 18px;
    }

    .question-container img {
        width: 164px;
        max-height: 112px;
    }

    .question-container span {
        font-size: 13px;
    }

    .final-screen-container {
        width: 375px;
        height: 500px;
    }

    .final-screen-container div {
        width: 92%;
        flex-direction: column;
    }

    .final-screen-container h2 {
        width: 92%;
        height: 100px;
        margin-bottom: 9px;
        font-size: 19px;
        text-align: center;
    }

    .final-screen-container img {
        width: 345px;
        max-height: 255px;
        margin-bottom: 9px;
    }

    .final-screen-container p {
        width: 92%;
        font-size: 17px;
        margin-bottom: 9px;
    }
}

/* Reponsividade - Fim */